@page
@model WebApplication1.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
@*@removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.FormTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers*@


<div class="row">
    <form method="post">

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>


</div>
